<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./static/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Document</title>

  
</head>
<body>

    <header id="body-header">
        <!--Nav bar should be visible always using scrolling-->
<nav id="Nav">
    <ul >
        <div id="nav-div">
            <span><'Pranjal'></span>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#Recent-Projects">Recent Projects</a></li>
        <li><a href="#Education">Education</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#Contact">Contact</a></li>
        </div>
    </ul>
</nav>

<div id="name">
    PRANJAL
   <div class="social-icons"><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pranjal4697" aria-label="My github"><i class="fab fa-github  fa-2x socialicons"></i></a><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/pranjal-8a9185246" aria-label="My linkedin"><i class="fab fa-linkedin  fa-2x socialicons"></i></a><a href="mailto:pranjalpranjal@iitgn.ac.in"><i class="fa-solid fa-envelope fa-2x socialicons"></i></a></div>

    </header>
    
    <section id="about">
        <div id="my-photo">
            <img src="./Photo.jpeg">
        </div>
        <div class="about center"><i class="fa-solid fa-user fa-lg"></i> <h1> About Me</h1>
            <!--Write a About Me for software Enginner and Machine Learning enthusiast -->
            <p>I am a skilled software Development Enthusiast with a strong passion for machine learning. I thrive on learning and implementing cutting-edge technologies to solve complex problems. With a proven track record in developing robust web applications and building advanced machine learning models, I am constantly seeking opportunities to expand my knowledge and enhance my skills.</p>
            <p>As a quick learner and a dedicated team player, I am always ready to take on new challenges and collaborate with others to deliver exceptional results. I am confident in my ability to contribute to exciting projects and make a significant impact.</p>
            <p>If you are looking for a talented software engineer who is driven by innovation and a desire for continuous improvement, I would love to connect and discuss how I can contribute to your organization's success.</p>
        </div>
        
    </section>
</section>

<section id="Education" class="center about">
    <div ><i class="fa-solid fa-building-columns fa-xl" style="color: #74C0FC;"></i> <h1> Education</h1>
    <!--Create a Table for Education details order institution , Qualification, Percentage , Year-->
       
        <table>
            <tr>
                <th>Institution</th>
                <th>Qualification</th>
                <th>Percentage/CGPA</th>
                <th>Year</th>
            </tr>
            <tr>
                <td>Indian Institute of Technology, Gandhinagar</td>
                <td>B.Tech in Electrical Engineering</td>
                <td>8.57 /10</td>
                <td>2021-2025</td>
            </tr>
            <tr>
                <td>Disha Delphi Public School, Kota</td>
                <td>Senior Secondary</td>
                <td>91.2%</td>
                <td>2020-2021</td>
            </tr>
            <tr>
                <td>Disha Delphi Public School, Kota</td>
                <td>Secondary</td>
                <td>93.2%</td>
                <td>2018-2019</td>
            </tr>
        </table>


</div>
</section>

    <section id="skills" class="center about" >
        <a href="#" ><i class="fa-solid fa-chalkboard"></i></a>
        <h2 >Skills</h2>
    <div id="Skills-container" class="center"> 
        <div id="Skill1-background">
            <div id="Skill1-indicator">
                C++
            </div>
        </div>

        <div id="Skill2-background">
            <div id="Skill2-indicator">
                Python
            </div>
        </div>

        <div id="Skill3-background">
            <div id="Skill3-indicator">
                Flask
            </div>
        </div>

        <div id="Skill4-background">
            <div id="Skill4-indicator">
                SQL
            </div>
        </div>

        <div id="Skill5-background">
            <div id="Skill5-indicator">
                HTML
            </div>
        </div>
        <div id="Skill6-background">
            <div id="Skill6-indicator">
                CSS
            </div>
        </div>
    </div>
        

    </section>

    <section id="Recent-Projects" class="center about">
        <!--Display each project as a container with two button one for clone repo other for view Repo -->
        <h2>Recent Projects</h2>
        <div class="project-container">
           <!--display repos passed from backend-->
            {% for repo in repos %}
            <div class="project">
                <h3>{{repo.name}}</h3>
                <p>{{repo.description}}</p>
              <a href="{{repo.clone_url}}" ><button class="button"><i class="fab fa-github"></i> Clone Repo</button></a>
               <a href="{{repo.html_url}}"><button  class="button"><i class="fab fa-github"></i>View</button></a>
               

        </div>
        {% endfor %}
    

    </section>
    <section id="Contact" class="center about">
        <h2><i class="fa-solid fa-address-card fa-lg" style="color: #63E6BE;"></i>Contact</h2>
       <p> I am looking for Software Development and Machine Learning opportunities. If you have any questions or would like to connect, please feel free to reach out to me via email or LinkedIn. I look forward to hearing from you!</p>

        <p>If you would like to collaborate on a project or discuss potential opportunities, please feel free to contact me via email or LinkedIn. I am always open to new ideas and excited to work with others to create innovative solutions.
        You can also drop a message here.</p>
    <br>
        <form action="/contact" method="POST" id="message">
            <div id="contact-form" class="center">
            <div>
            <label for="Name" >Name:</label>
            <input type="text" id="Name" name="Name">
            </div>
            <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            </div>
            <div>
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea><br>
            </div>
            <div>
            <input type="submit" value="Submit">
            </div>
            </div>
        </div>
        <div class="social-icons"><a target="_blank" rel="noopener noreferrer" href="https://github.com/Pranjal4697" aria-label="My github"><i class="fab fa-github  fa-3x socialicons"></i></a><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/pranjal-8a9185246" aria-label="My linkedin"><i class="fab fa-linkedin  fa-3x socialicons"></i></a>  <a href="mailto:pranjalpranjal@iitgn.ac.in"><i class="fa-solid fa-envelope fa-3x socialicons"></i></a></div>
    </section>

    <footer id="footer">
        <div id="footer-container">
            <div id="footer-left">
                <p> Made with <i class="fa-solid fa-heart fa-lg" style="color: #FF0000;"></i> by Pranjal using Flask , HTML, CSS and Javascript</p>
            </div>
            <div id="footer-right">
                <a href="#body-header">Back to Top</a>
            </div>
        </div>
    </footer>
</body>
</html>